body{
    font-family: arial, sans-serif;
    background-image: url(../imgs/new-bg-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
H1{
    background-color:#83c0c9;

    color: whitesmoke;
    width: 5vw;
    margin: 0 auto;
    text-align: center;
    border:  1px solid #83c0c9;
    border-radius: 0.2em;
    margin-top: 1em;

}
h2{
    color: #727272;
    width: 20vw;
    margin: 0 auto; 
    margin-bottom: 1em;
    font-size: 1em;
    text-align: center;
    margin-top: 1.2em;

}
form{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: flex-start;
    /* justify-items: center;
    text-align: center; */
    width: 20vw;
    margin: 0 auto;
}
input{
    padding: 0.4em;

}
::placeholder{
    color: #a0a0a0;
}
.remember{
    color: #727272;
    text-align: center;
    margin-top:3em;
    display: flex;
    justify-items: center;
    justify-content: center;
    /* margin: 0 auto; */
}

button{
    border: none;
    color: whitesmoke;
    font-weight: bold;
    background-color: #83c0c9;
    border:  1px solid #83c0c9;
    border-radius: 0.6em;
    PADDING: 0.7em;
    margin-top: 1.7em;
}